body {
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #020114;
    -webkit-user-select: none; /* Para navegadores basados en WebKit como Chrome y Safari */
    -moz-user-select: none; /* Para navegadores basados en Gecko como Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
    user-select: none; /* Estándar */
}

.navbar {
    background-color: #020114;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.navbar-logo img {
    max-width: 150px;
    height: auto;
    margin-left: 50px;
    margin-right: 20px;
}

.navbar ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 50px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    padding: 2px 15px;
    border-radius: 30px;
}

.navbar a:hover {
    background-color: #0037ff;
}

.navbar button {
    font-family: "Oswald", sans-serif;
    background-color:  #0c0f3db9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #0037ff;
}

.carousel {
    width: 100vw;
    height: calc(100vh - 85px); /* Ajusta la altura del carrusel restando la altura de la barra de navegación */
    overflow: hidden;
    position: relative; /* Añadido */
}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0; /* Agregamos un valor inicial de opacidad */
    transition: opacity 0.5s ease; /* Añadimos una transición suave */
}

.carousel .list .item.active {
    opacity: 1; /* Cambiamos la opacidad a 1 cuando la imagen está activa */
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 55%;
    max-width: calc(75% - 20%); /* 50% del ancho de la pantalla menos el margen a la izquierda y a la derecha */
    max-height: calc(100% - 20%); /* 100% del alto de la pantalla menos el margen arriba y abajo */
    padding: 25px;
    box-sizing: border-box;
    background-color: #0c0f3d61;
    border-radius: 50px;
}

.carousel .list .item .content .desc {
    font-family: "Poppins", sans-serif;; /* Familia de fuentes */
    font-weight: 700; /* Peso de la fuente (negrita) */
    font-size: 24px; /* Tamaño de la fuente */
    color: #ffffff; /* Color del texto */
    text-shadow: 0 9px 9px rgb(0, 0, 0); /* Sombra del texto para resaltar */
    text-align: center; /* Alineación del texto al centro */
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 10px; /* Añade espacio interno alrededor del texto */
    word-wrap: break-word; /* Ajusta el texto al tamaño del contenedor */
}

.carousel .list .item .content .desc span {
    font-family: "Oswald", sans-serif;
    font-weight: 700; /* Peso de la fuente (negrita) */
    font-size: 36px; /* Tamaño de la fuente */
    color: #f9a932; /* Color del texto */
    text-shadow: 0 9px 9px rgb(0, 0, 0); /* Sombra del texto para resaltar */
    text-align: center; /* Alineación del texto al centro */
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 10px; /* Añade espacio interno alrededor del texto */
    word-wrap: break-word; /* Ajusta el texto al tamaño del contenedor */
}

.carousel .list .item .content .buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 160px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    position: absolute;
    bottom: -60px; /* Ajusta la posición vertical del contenedor de botones */
    left: 50%; /* Centra los botones horizontalmente */
    transform: translateX(-50%); /* Centra los botones horizontalmente */
    width: 100%; /* Ajusta el ancho del contenedor de botones */
    text-align: center; /* Alinea los botones al centro */
}

.carousel .list .item .content button{
    font-family: "Oswald", sans-serif;
    font-size: 16px; /* Tamaño de la fuente */
    background-color:  #0c0f3d;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    border:none;
    cursor: pointer;
    
}

.carousel .list .item .content button:hover {
    background-color: #0037ff;
}

.carousel .slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* Usamos flexbox para distribuir los puntos horizontalmente */
    justify-content: center; /* Centramos los puntos horizontalmente */
}

.carousel .slider-dots .dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 15px; /* Margen entre los puntos */
    cursor: pointer;
}

.carousel .slider-dots .dot.active {
    background-color: #f9a932;
    width: 12px;
    height: 12px; /* Color para indicar la imagen actual */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    border: 1px solid rgba(56, 122, 202, 0.283);
    background-color: rgb(227, 231, 233);
    margin: 40px 24px 80px 24px;
    padding: 10px;
    width: 350px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.card h1 {
    margin-top: 32px;
}

.card h1 span{
    color: #0037ff;
}

.card h2 {
    margin-top: 48px;
}

.card ul {
    margin-top: 40px;
}

.card li {
    margin-top: 16px;
}
.card button {
    margin-top: 60px;
}

.description {
    margin-top: 0px;
    height: 250px;
}

.price {
    
    font-size: 40px;
}



button {
    background-color: #2c32d0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.title-section{
    color: #f0f1f3;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 40px;
}

.title-section span{
    color:#0037ff;
}

.footer {
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Cambia a flex para alinear los elementos en una fila */
}

.footer ul li {
    margin-right: 90px; /* Ajusta el margen entre los elementos li según tus preferencias */
}

.footer ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.footer ul li a {
    text-decoration: none;
    color: #ffffff;
}